data/*
cifar10/*

results/*

PytorchProjectFramework/accountant_graph/*
PytorchProjectFramework/accountants/graphs/data/*
PytorchProjectFramework/accountants/graphs/old_data/*
PytorchProjectFramework/accountants/graphs/graph/*

PytorchProjectFramework/graphs/graph/*
PytorchProjectFramework/graphs/data/*
PytorchProjectFramework/graphs/old_data/*
PytorchProjectFramework/graphs/old_data_2/*
PytorchProjectFramework/graphs/old_data_3/*
PytorchProjectFramework/*.tar
