data/*
cifar10/*
results/*

PytorchProjectFramework/archive/*

PytorchProjectFramework/accountant_graph/*
PytorchProjectFramework/accountants/graphs/data/*
PytorchProjectFramework/accountants/graphs/data_client/*
PytorchProjectFramework/accountants/graphs/old_data/*
PytorchProjectFramework/accountants/graphs/graph/*

PytorchProjectFramework/graphs/graph/*
PytorchProjectFramework/graphs/data/*
PytorchProjectFramework/graphs/data_sum/*
PytorchProjectFramework/graphs/data_sum_concluded/*
PytorchProjectFramework/graphs/data_avg/*
PytorchProjectFramework/graphs/data_client/*
PytorchProjectFramework/graphs/data_mixing/*
PytorchProjectFramework/graphs/old_data/*
PytorchProjectFramework/graphs/old_data_2/*
PytorchProjectFramework/graphs/old_data_3/*
PytorchProjectFramework/graphs/data_marten_algo/*

PytorchProjectFramework/*.tar
